button{
    border: none;
    position: relative;
    cursor: pointer;
}

button{
color: var(--clear-Background);
background-color: var(--clear-Black);
}

.dark button{
    background-color: var(--clear-Black);
    color: var(--dark-Color);
}

button:before {
    content:"";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0px;
    height: 100%;
    border-radius: 15px;
    background: none;
    transition: all .5s ease;
    width: 100%;
}

button:hover:before {
    background: rgba(255, 255, 255, 0.174);
}

.noHoverEffect:hover::before{
    background: none;
}