.productList__container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 30px auto;
    padding: 7px;
    text-align: center;
}

.productList__container__sort{
    width: 50%;
    text-align: left;
    font-weight: bold;
}

.productList__container__sort i{
  padding-right: 8px;
}

.select-control{
    background: transparent;
    border: none;
}

.productList__spinner-container{
   margin-top: 150px;
}

.dark .select-control{
    background: transparent;
}