.productList__container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 30px auto;
    padding: 7px;
    text-align: center;
}

.productList__container__sort{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.productList__container__sort i{
    font-size: 15px;
  }

.select-control-products{
    background: transparent;
    border: none;
    padding: 0 0 0 5px;
    outline: none;
}

.productList__spinner-container{
   margin-top: 150px;
}

.dark .select-control-products{
    background: transparent;
}

@media (max-width: 500px) {

    .productList__container__sort-filter i{
        display: none;
      }
}

