.itemRow{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    margin: 10px 5px;
    color: var(--clear-Color);
    background-color: var(--clear-Background);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 13px;
    border-radius: 15px;
    transition: all ease-in-out .5s;
    padding-right: 5px;
}

.itemRow__count{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 6px;
    min-width: 100px;
}

.itemRow__count img{
    width: 25px;
}

.itemRow__buttons{
    display: flex;
justify-content: flex-end;
gap: 10px;
    width: 100%;
    padding-left: 10px;
}

.itemRow__buttons button{
    border: none;
    padding: 8px 0;
    font-size: 8px;
    border-radius: 15px;
    min-width: 80px;
}


@media (min-width: 530px){
    .itemRow{
        flex-direction: row;
        padding: 0 20px;
        font-size: 22px;
        height: 70px;
    }
    
    .itemRow__count img{
        width: 45px;
    }
    
    .itemRow__buttons{
        justify-content: flex-end;
        width: 60%;
    }

    .itemRow__buttons button{
        width: 130px;
        font-size: 14px;
        padding: 12px 10px;
        margin: 0 6px;
    } 
}




/* DarkMode */

.dark .itemRow{
    background-color: #3c3c3c;
    color: var(--dark-Color);
    box-shadow: 0px 2px 2px rgba(117, 117, 117, 0.35);
}

.dark .itemRow__count img{
    filter: invert();
}