.itemRow{
    display: flex;
    align-items: center;
    height: 70px;
    width: 98%;
    margin: 10px auto ;
    color: white;
    background-color: #3c3c3c;
    justify-content: space-between;
    padding: 0 20px;
    border-radius: 15px;
    font-size: 22px;
}

.itemRow__count{
    display: flex;
    align-items: center;
    gap: 10px;
}

.itemRow__count img{
    width: 45px;
    filter: invert();
}

.itemRow__buttons button{
    background-color: #5b5d5d ;
    border: none;
    padding: 8px 10px;
    font-size: 12px;
    color: white;
    margin: 0 6px;
    border-radius: 15px;
}