/* code css */
.header{
    position: fixed;
    width: 100%;
    height: 72px;
    display: flex;
    padding: 0 10px;
    opacity: .985;
    box-shadow: 0px 5px 5px -5px rgba(0, 0, 0, 0.75)
}

.headerGeneric{
    display: flex;
}

.headerGeneric button{
    background: none;
    border: none;
}

.title{
    align-self: center;
}

.title h2{
    font-weight:500;
}


/* HEADER PRODUCTS */
.headerProducts{
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.header__search-container{
    display: flex;
    align-items: center;
    position: relative;
    width: 280px;
  }

  .search-container__btnClose{
    display: none;
    height: 32px;
    width: 18px;
    align-self: center;
    border-radius: 50%;
    margin-right: 10px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;

    font-size: 20px;
    font-weight: 700;
    background-color: transparent;
    border: none;
    color: white;
  }
  
.header__search-container input{
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 16px;
    height: 32px;
    width: 280px;
    padding: 0 0 0 20px;
}
  

.search-container__btnSearch{
    position: absolute;
    right: 8px;
    background: none;
    border: none;
}

.headerProducts-ContainerAgregar{
    align-self: center;
}

.headerProducts-ContainerAgregar a{
    text-decoration: none;
}
.headerProducts__btnAgregar{
    display: none;
    height: 32px;
    width: 150px;
    padding: 8px;
    align-self: center;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 16px;
    margin-left: 10px;
    text-decoration: none;
}

.headerProducts__btnAgregarAlternative{
    display: block;
    height: 32px;
    width: 30px;
    align-self: center;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    margin-left: 10px;
    text-decoration: none;
    background-color: white;
    font-size: 25px;
    font-weight: 700;
}

/* HEADER EDIT PRODUCTS */
.headerEditProduct{
    display: flex;
    align-self: center;
}

.headerEditProduct img{
    filter: invert();
}

.headerEditProduct__btnDelete{
    height: 32px;
    width: 100px;
    padding: 8px;
    align-self: center;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 16px;
    margin-left: 10px;
    
}

.headerEditProduct h2{
    font-weight: 500;
}
.header__menu-hamburguesa{
    margin-top: 20px;
    height: 32px;
    width: 32px;
    padding-right: 20px;
}


@media (min-width: 1025px){
    .header{
        width: calc(100% - 296px);
    }
    .headerProducts__btnAgregar{
        display: block;
    }
    .header__menu-hamburguesa{
        display: none;
    }

    .headerProducts__btnAgregarAlternative{
        display: none;
    }

}

@media (max-width: 500px){
    .header__search-container input, .header__search-container{
        width: 45px;
    }

}