/* code css */
.header{
    position: fixed;
    width: 100%;
    height: 72px;
    display: flex;
    padding: 0 10px;
    box-shadow: 0px 5px 5px -5px rgba(0,0,0,0.75);
}

.headerGeneric{
    display: flex;
}

.headerGeneric button{
    background: none;
    border: none;
}

.title{
    padding-left: 20px;
    align-self: center;
}

.title h2{
    font-weight:500;
}


/* HEADER PRODUCTS */
.headerProducts{
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.header__search-container{
    display: flex;
    align-items: center;
    position: relative;
    width: 280px;
  }
  
.header__search-container input{
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 16px;
    height: 32px;
    width: 280px;
    padding: 0 0 0 20px;
}
  

.header__search-container button{
    position: absolute;
    right: 8px;
    background: none;
    border: none;
}

.headerProducts-ContainerAgregar{
    align-self: center;
}

.headerProducts-ContainerAgregar a{
    text-decoration: none;
}
.headerProducts__btnAgregar{
    display: none;
    height: 32px;
    width: 150px;
    padding: 8px;
    align-self: center;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 16px;
    margin-left: 10px;
    text-decoration: none;
}

/* HEADER EDIT PRODUCTS */
.headerEditProduct{
    display: flex;
    align-self: center;
}

.headerEditProduct__btnDelete{
    height: 32px;
    width: 100px;
    padding: 8px;
    align-self: center;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 16px;
    margin-left: 10px;
}

.headerEditProduct h2{
    font-weight: 500;
}
.header__menu-hamburguesa{
    margin-top: 20px;
    height: 32px;
    width: 32px;
}
@media (min-width: 1025px){
    .header{
        width: calc(100% - 296px);
    }
    .headerProducts__btnAgregar{
        display: block;
    }
    .header__menu-hamburguesa{
        display: none;
    }

}

/* Dark Mode */

.dark .headerEditProduct img,
.dark .header__menu-hamburguesa{
    filter: invert();
}
