.product-new {
  padding: 20px;
}

.product-new h3,
h1 {
  margin-top: 25px;
}

.product-new button {
  border-radius: 16px;
  padding: 8px;
  margin-left: 10px;
  min-width: 80px;
  cursor: pointer;
}

.product-new__form {
  display: flex;
  flex-direction: column;
}

.product-new__form input,
select {
  max-width: 300px;
  background: transparent;
  border: 2px solid var(--clear-BlackLight);
  box-shadow: 0 0 8px rgb(0 0 0 / 25%);
}

.dark .form-control  {
  background-color: transparent; 
  border: 2px solid var(--clear-BlackLight);
  box-shadow: 0 0 8px rgb(0 0 0 / 25%);
}

.product-new__form textarea {
  max-width: 500px;
  height: 200px;
  padding-top: 5px;
  background: transparent;
  border: 2px solid var(--clear-BlackLight);
  box-shadow: 0 0 8px rgb(0 0 0 / 25%);
}

.product-new__form input,
select,
textarea {
  border-radius: 16px;
  padding: 0px 15px 0px 15px;
  height: 30px;
}

.product-new-form__stock {
  display: flex;
  align-items: center;
  gap: 15px;
  border-radius: 16px;
  max-width: 100px;
  height: 30px;
  background: transparent;
  border: 2px solid var(--clear-BlackLight);
  box-shadow: 0 0 8px rgb(0 0 0 / 25%);
}

.product-new-form__stock button {
  width: 30px;
  height: 30px;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  margin-left: 0px;
  min-width: 0px;
}

.clear .product-new-form__stock button{
  color: var(--clear-Color);
}

.product-new-form__stock button:hover {
  transform: scale(1.6);
  cursor: pointer;
}

.product-new__nav {
  display: flex;
  justify-content: space-between;
}

.product-new__action {
  text-align: end;
}

.product-new__input-title {
  margin-top: 20px;
  margin-bottom: 10px;
}

.product-new-form__card-image {
  display: flex;
  align-items: center;
  border-radius: 16px;
  padding: 5px;
  max-width: 500px;
  justify-content: space-between;
  margin: 10px 0px 10px 0px;
  background: transparent;
  box-shadow: 0 0 6px var(--clear-BlackLight, 0.75%);
}


.product-new-form__card-image p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-new-form__card-image img {
  width: 60px;
  height: 60px;
  border-radius: 16px;
  margin-right: 10px;
}

.prueba {
  display: flex;
  align-items: center;
}

.prueba input {
  width: 100%;
}

.product-new__view-card {
  border-radius: 16px;
  padding: 5px;
  max-width: 500px;
  display: flex;
  align-items: center;
  box-shadow: 0 0 6px var(--clear-BlackLight, 0.75%);
}

.product-new__view-card img {
  width: 100px;
  height: 100px;
  border-radius: 16px;
  margin-right: 10px;
}

.product-new__view-card__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 10px;
}

.product-new__view-card__info div{
  display: flex;
  align-items: center;
  gap: 10px;
}

.product-new__view-card__info p {
  font-weight: 900;
  font-size: 25px;
  min-width: 40px;
}

.product-new__view-card__info div span {
  min-width: 40px;
}

@media (min-width:500px){
  .product-new__view-card__info {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-top: 10px;
    gap: 15px;
  }
}
